/* style.css */
body.dark-mode {
    background: #111;
    color: white;
    font-family: 'Tajawal', sans-serif;
}

.blur-bg {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
